@page "/JobList/{User}/{GroupString}"
@page "/JobList/{User}/"
@page "/JobList/"
@using System.Collections.Generic
@using blaz.Data
@using System;
@using System.Threading
@using System.Threading.Tasks
@using static SharedFs.SharedTypes;
@using System.Linq
@using HostedBlazor.Data
@inject DataGetter Getter
@inject NavigationManager UriHelper  

@code{
    
    [Parameter]
    public string GroupString { get; set; }

    [Parameter]
    public string User { get; set; }
    
    public int Group;
    protected override async Task OnInitializedAsync()
    {
        Getter.newData +=new Action(()=>{
        Console.WriteLine("StateChanged|Main");
         this.StateHasChanged();});

    } 
    protected override async Task OnParametersSetAsync()
    {  int.TryParse(GroupString,out Group);
        User = User ?? " ";
    // This event will fire when the parameters change
    // Put your code here.  
    this.StateHasChanged();
    }
}

<h1>Transfer Monitoring</h1>
<p>Connected to transfer server at: @Getter.transferServerUrl</p>

@if (Getter.status==Status.Loading)
{
    <p><em>Loading...</em></p>
}
else if (Getter.status==Status.NoConnection){
<p><em>Connot Connect to server</em></p>
}
else if (Getter.status==Status.DataError){
<p><em>Data recieved is malformed</em></p>
}
else
{
<table class="table">
    <div>
        <ol>

            @if(User==null)
            {
                
                UriHelper.NavigateTo("/JobList/Users");
            }
            else if (User == "All")
            {  
                var tasks=Getter.CopyTasks.SelectMany(user => user.Value.Jobs.Select(task=>(user:user.Key,task:task.JobID,scheduledTime:user.Value.TransferDataList[task.JobID].ScheduledTime))).OrderByDescending(data => data.scheduledTime).ToList();
                Console.WriteLine("loading all tasks. Count= "+tasks.Count);
                foreach (var task in tasks)
                {   
                    <TransferTaskRender index="@task.task" userName="@task.user" > </TransferTaskRender>
                    
                } 
            }
            else{
                var uiData= Getter.CopyTasks[User];
                <UserRender UserData="@uiData" Group="@Group" UserName="@User" />
                    
                }
        </ol>
    </div>
</table>
}

